body{
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    background: rgb(31,17,48);
    background: linear-gradient(180deg, rgb(21, 17, 26) 0%, rgb(21, 34, 54) 60%, rgb(15, 87, 97) 100%);
    background-size: cover;
    background-attachment: fixed;
}

.bluesolver{
    color: #fff;
    background: rgba(66, 134, 143, 0.247);
}

h1,h2,h3,h4,h5,h6, b {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}